{% extends "layaout_factura.html" %} {% block botones %}
<div class="container">
  <div class="row">
    <div class="col-md-6 offset-md-3">
      <h1 class="display-4 text-center fw-bold">FACTURA:</h1>
      <form id="facturaForm" class="card card-body bg-secondary">
        {% csrf_token %}
        <p class="text-white font-weight-bold">Area:</p>
        <input
          type="text"
          name="area"
          id="areaInput"
          placeholder="Ingrese el area de su propiedad en m cuadrados"
          class="form-control mb-2"
        />
        <p class="text-white font-weight-bold">Fecha:</p>
        <input
          type="text"
          name="fecha"
          placeholder="AAAA-mm-dd"
          class="form-control mb-2"
        />
        <p class="text-white font-weight-bold">Nombre:</p>
        <input
          type="text"
          name="Nombre"
          placeholder="La factura a nombre de quien"
          class="form-control mb-2"
        />

        <button
          type="button"
          class="btn btn-success"
          onclick="guardarFactura()"
        >
          Guardar
        </button>
      </form>
    </div>
  </div>
</div>

{% endblock %}
