{% extends "layaout_factura.html" %} {% block botones %}

<div class="container">
  <div class="row">
    <div class="col-md-8 offset-md-2">
      <h1 class="display-4 text-center fw-bold">FACTURA:</h1>
      <h3>
        Se tiene un estipulado mensual de 70 millones por todo el Conjunto
        Residencial, el area total del conjunto residencial es 4000 metros.
        <br />Se coge el valor mensual estipulado y se divide por el area total,
        este valor se multiplica por el area que a usted le pertenece y ese es
        el valor que debe pagar.<br />
        Tenga en cuenta que tiene hasta final de mes para pagar o sino, segun la
        ley 675 del 2001, tendra que pagar un acumulado del 2% de más.
      </h3>
    </div>
  </div>
</div>
{% endblock %}
