{% extends "layout_residente.html" %} {% block botones %}

<div class="container">
  <div class="row">
    <div class="col-md-6 offset-md-3">
      <h1 class="display-4 text-center fw-bold">Persona Juridica:</h1>
      <form
        action="{% url 'create_pJuridica' %}"
        method="POST"
        class="card card-body bg-secondary"
      >
        {% csrf_token %}
        <input
          type="text"
          name="razonSocial"
          placeholder="Razon Social"
          class="form-control mb-2"
        />
        <input
          type="text"
          name="contacto"
          placeholder="#contacto"
          class="form-control mb-2"
        />
        <input
          type="text"
          name="correo"
          placeholder="Correo Electronico"
          class="form-control mb-2"
        />
        <input
          type="text"
          name="direccion"
          placeholder="Direccion"
          value="No tiene"
          class="form-control mb-2"
        />

        <button class="btn btn-success">Guardar</button>
      </form>
    </div>
    <div class="col-md-8 offset-md-2">
      {% for pjuridica in PJuridica %}
      <div
        class="card card-body text-black mt-2 mb-2 d-flex flex-row justify-content-between"
      >
        <div>
          <h3>{{pjuridica.razonSocial}}</h3>
          <h4>{{pjuridica.contacto}}</h4>
          <h4>{{pjuridica.correo}}</h4>
          <h4>{{pjuridica.direccion}}</h4>
        </div>

        <form action="{% url 'delete_pJuridica' pjuridica.id %}" method="POST">
          {% csrf_token %}
          <button class="btn btn-danger btn-lg">Borrar</button>
        </form>
      </div>
        {% empty %}
        <h1 class="display-6 text-center mt-2">
          No hay Personas Juridicas registradas
        </h1>
        {% endfor %}
      </div>
    </div>
  </div>
  {% endblock %}
</div>