{% extends "layout_residente.html" %} {% block botones %}

<div class="container">
  <div class="row">
    <div class="col-md-6 offset-md-3">
      <h1>Vehiculo:</h1>
      <form
        action="{% url 'create_vehiculo' %}"
        method="POST"
        class="card card-body bg-secondary"
      >
        {% csrf_token %}
        <input
          type="text"
          name="marca"
          placeholder="Pon la Marca del Vehiculo"
        />
        <input
          type="text"
          name="modelo"
          placeholder="Pon el Modelo del Vehiculo"
        />
        <input
          type="text"
          name="placa"
          placeholder="Pon la Placa del Vehiculo"
        />
        <input type="text" name="dueño" placeholder="Pon el Id del Dueño" />

        <button>Guardar</button>
      </form>
    </div>
    <div class="col-md-8 offset-md-2">
      {% for Vehiculo in vehiculo %}
      <div>
        <h3>{{Vehiculo.propietario}}</h3>
        <h4>{{Vehiculo.marca}}</h4>
        <h4>{{Vehiculo.modelo}}</h4>
        <h4>{{Vehiculo.placa}}</h4>
        <form action="{% url 'delete_vehiculo' Vehiculo.id %}" method="POST">
          {% csrf_token %}
          <button>Borrar</button>
        </form>
      </div>
      {% empty %}
      <h1>No hay Vehiculos registrados</h1>
      {% endfor %}
    </div>
  </div>
</div>
{% endblock %}
